/*===== LOCAL FONTS =====*/
@font-face {
  font-family: "Product Sans Black";
  src: url("../fonts/FontsFree-Net-ProductSans-Black.ttf");
}

@font-face {
  font-family: "Product Sans Medium";
  src: url("../fonts/FontsFree-Net-ProductSans-Medium.ttf");
}

@font-face {
  font-family: "Product Sans Regular";
  src: url("../fonts/FontsFree-Net-ProductSans-Regular.ttf");
}

/*===== FONTS =====*/
:root {
  --black-font: "Product Sans Black", sans-serif;
  --button-font: "Product Sans Medium", sans-serif;
  --normal-font: "Product Sans Regular", sans-serif;
}

/*===== COLORS =====*/
:root {
  --first-color: #036DB9;
  --second-color: #81D100;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== HEADER =====*/
.l__header {
  width: 100%;
  background-color: #fff;
}

.l__header .nav {
  width: 1320px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l__header .nav .nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l__header .nav .nav__logo .hr__vertical {
  display: block;
  width: 1px;
  height: 60px;
  background-color: #C0CAD6;
  margin-left: 40px;
}

.l__header .nav .nav__logo p {
  font-family: var(--button-font);
  font-size: 14px;
  line-height: 17px;
  margin-left: 25px;
  color: #939AA3;
}

.l__header .nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
}

.l__header .nav .nav__menu .tg__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l__header .nav .nav__menu .tg__contact img {
  margin-top: 20px;
}

.l__header .nav .nav__menu .tg__contact a {
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #036DB9;
}

.l__header .nav .nav__menu .phone__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

.l__header .nav .nav__menu .phone__contact img {
  margin-top: 20px;
}

.l__header .nav .nav__menu .phone__contact a {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #939AA3;
}

.l__header .nav .nav__menu .phone__contact a span {
  font-family: var(--black-font);
  color: #036DB9;
}

/*===== HOME =====*/
.l__main {
  width: 100%;
  height: 600px;
  background-image: url(../img/background-home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.l__main .home {
  width: 1320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l__main .home .left__side h1 {
  font-family: var(--black-font);
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  color: #FFFFFF;
}

.l__main .home .left__side .left__inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l__main .home .left__side .left__inside .service__box {
  margin-top: 50px;
}

.l__main .home .left__side .left__inside .service__box p {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  color: #FFFFFF;
}

.l__main .home .left__side .left__inside .service__box p span {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.l__main .home .right__side img {
  margin-right: 120px;
}

/*===== PRODUCTS =====*/
.l__products {
  width: 100%;
  min-height: 1500px;
  background-image: url(../img/bg-pattern.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 70px;
}

.l__products h1 {
  font-family: var(--black-font);
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  color: #036DB9;
}

.l__products p {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #939AA3;
}

.l__products .download__button {
  width: 278px;
  height: 70px;
  margin-top: 50px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-gradient(linear, left top, right top, from(#81D100), to(#71B800));
  background: linear-gradient(90deg, #81D100 0%, #71B800 100%);
  -webkit-box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
          box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l__products .download__button a {
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-left: 16px;
  color: #FFFFFF;
}

.l__products .products {
  width: 1320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l__products .products .product__box {
  width: 350px;
  height: 350px;
  background: radial-gradient(50% 50% at 50% 50%, #036DB9 0%, #036DB9 100%);
  border-radius: 12px;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}

.l__products .products .product__box .circle__bg {
  margin-left: 25px;
  position: absolute;
  z-index: -1;
}

.l__products .products .product__box .product__image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.l__products .products .product__box p {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 24px;
  color: #FFFFFF;
}

.l__products .products .product__box:nth-child(2) .product__image {
  margin-top: 62px;
}

.l__products .products .product__box:nth-child(2) p {
  margin-top: 36px;
}

.l__products .products .product__box:nth-child(3) .product__image {
  margin-top: 70px;
}

.l__products .products .product__box:nth-child(3) p {
  margin-top: 33px;
}

.l__products .products .product__box:nth-child(4) .product__image {
  margin-top: 52px;
}

.l__products .products .product__box:nth-child(4) p {
  margin-top: 26px;
}

.l__products .products .product__box:nth-child(5) .product__image {
  margin-top: 36px;
}

.l__products .products .product__box:nth-child(5) p {
  margin-top: 10px;
}

.l__products .products .product__box:nth-child(6) .product__image {
  margin-top: 50px;
}

.l__products .products .product__box:nth-child(6) p {
  margin-top: 24px;
}

.l__products .products .product__box:nth-child(7) .product__image {
  margin-top: 38px;
}

.l__products .products .product__box:nth-child(7) p {
  margin-top: 12px;
}

.l__products .products .product__box:nth-child(8) .product__image {
  margin-top: 50px;
}

.l__products .products .product__box:nth-child(8) p {
  margin-top: 24px;
}

.l__products .products .product__box:nth-child(9) .product__image {
  margin-top: 70px;
}

.l__products .products .product__box:nth-child(9) p {
  margin-top: 20px;
}

.l__cause {
  width: 100%;
  min-height: 1026px;
  padding-top: 70px;
  background: #F0F2F5;
}

.l__cause h1 {
  font-family: var(--black-font);
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  /* identical to box height */
  text-align: center;
  color: #036DB9;
}

.l__cause .cause {
  width: 1320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l__cause .cause .cause__box {
  width: 350px;
  height: 366px;
  margin-top: 50px;
}

.l__cause .cause .cause__box img {
  margin-left: auto;
  margin-right: auto;
}

.l__cause .cause .cause__box h2 {
  font-family: var(--black-font);
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #036DB9;
  margin-top: 16px;
  text-transform: uppercase;
}

.l__cause .cause .cause__box p {
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 8px;
  color: #000000;
}

.l__experts {
  width: 100%;
  height: 564px;
  overflow: hidden;
}

.l__experts .experts {
  width: 1320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l__experts .experts .expert__left h1 {
  font-family: var(--black-font);
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  color: #036DB9;
  padding-top: 100px;
}

.l__experts .experts .expert__left .expert__button {
  width: 382px;
  height: 70px;
  margin-top: 50px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#81D100), to(#71B800));
  background: linear-gradient(90deg, #81D100 0%, #71B800 100%);
  -webkit-box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
          box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l__experts .experts .expert__left .expert__button a {
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-left: 16px;
  color: #FFFFFF;
}

.l__experts .experts .expert__left .inex {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l__experts .experts .expert__left .inex .box__exs {
  margin-right: 30px;
}

.l__experts .experts .expert__left .inex .box__exs p {
  margin-top: 16px;
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.l__experts .experts .expert__right {
  padding-top: 67px;
}

.l__install {
  width: 100%;
  height: 594px;
}

.l__install .install {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l__install .install .install__left {
  width: 945px;
  height: 100%;
  background-image: url(../img/install/proektirovanie-osvesheniya_03.png);
}

.l__install .install .install__rigth {
  width: 977px;
  height: 100%;
  background: #036DB9;
  background-image: url(../img/install/MaskGroup.png);
  padding-left: 30px;
  position: relative;
}

.l__install .install .install__rigth h2 {
  font-family: var(--black-font);
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 50px;
  color: #FFFFFF;
  margin-top: 162px;
}

.l__install .install .install__rigth ul {
  margin-top: 32px;
}

.l__install .install .install__rigth ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-top: 16px;
}

.l__install .install .install__rigth ul li img {
  margin-right: 12px;
}

.l__install .install .install__rigth .drill {
  position: absolute;
  right: 0;
  top: 116px;
}

.l__install .install .install__rigth .bolt__1 {
  position: absolute;
  left: 362px;
  top: 24px;
}

.l__install .install .install__rigth .plier {
  position: absolute;
  left: 454px;
  top: -59px;
}

.l__install .install .install__rigth .bolt__2 {
  position: absolute;
  right: 90px;
  top: 24px;
}

.l__install .install .install__rigth .bolt__3 {
  position: absolute;
  left: 578px;
  top: 304px;
}

.l__install .install .install__rigth .bolt__4 {
  position: absolute;
  bottom: 52px;
  right: 290px;
}

.l__install .install .install__rigth .screwdriver {
  position: absolute;
  left: 220px;
}

.l__portfolio {
  width: 100%;
  height: 540px;
  padding-top: 70px;
}

.l__portfolio .portfolio {
  width: 1725px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}

.l__portfolio .portfolio .pos__box {
  width: 33%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l__portfolio .portfolio .pos__box .box__one {
  width: 50%;
  height: 100%;
}

.l__portfolio .portfolio .pos__box .box__two {
  width: 50%;
  height: 100%;
  background-color: #FFFFFF;
  padding-left: 10px;
}

.l__portfolio .portfolio .pos__box .box__two h1 {
  font-family: Product Sans Black;
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  margin-top: 100px;
  color: #036DB9;
}

.l__portfolio .portfolio .pos__box__two {
  width: 17%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  right: 0;
  z-index: 3;
}

.l__portfolio .portfolio .owl-carousel .item {
  width: 255px;
  height: 400px;
  background: #C4C4C4;
  border-radius: 12px;
  background-image: url(../img/portfolio/port-1.png);
}

.l__portfolio .portfolio .owl-carousel .item__two {
  background-image: url(../img/portfolio/port-2.png);
}

.l__portfolio .portfolio .owl-carousel .item__three {
  background-image: url(../img/portfolio/port-3.png);
}

.l__portfolio .portfolio .owl-carousel .item__four {
  background-image: url(../img/portfolio/port-4.png);
}

.l__portfolio .portfolio .owl-carousel .item__five {
  background-image: url(../img/portfolio/port-5.png);
}

.l__portfolio .portfolio .owl-carousel .item__six {
  background-image: url(../img/portfolio/port-1.png);
}

.l__portfolio .portfolio .owl-nav {
  position: absolute;
  z-index: 10;
  top: 85%;
  left: 18%;
  display: none;
}

.l__portfolio .portfolio .owl-nav .owl-prev {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid;
}

.l__portfolio .portfolio .owl-nav .owl-next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid;
}

.l__portfolio .portfolio .owl-dots {
  display: none !important;
}
/*# sourceMappingURL=main.css.map */