/*===== LOCAL FONTS =====*/
@font-face {
  font-family: "Product Sans Black";
  src: url("../fonts/FontsFree-Net-ProductSans-Black.ttf");
}

@font-face {
  font-family: "Product Sans Medium";
  src: url("../fonts/FontsFree-Net-ProductSans-Medium.ttf");
}

@font-face {
  font-family: "Product Sans Regular";
  src: url("../fonts/FontsFree-Net-ProductSans-Regular.ttf");
}

/*===== FONTS =====*/
:root {
  --black-font: "Product Sans Black", sans-serif;
  --button-font: "Product Sans Medium", sans-serif;
  --normal-font: "Product Sans Regular", sans-serif;
}

/*===== COLORS =====*/
:root {
  --first-color: #036db9;
  --second-color: #81d100;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}

h1,
h2,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== HEADER =====*/
.l__header {
  width: 100%;
  background-color: #fff;
}

.l__header .nav {
  width: 1320px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l__header .nav .nav__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l__header .nav .nav__logo .hr__vertical {
  display: block;
  width: 1px;
  height: 60px;
  background-color: #c0cad6;
  margin-left: 40px;
}

.l__header .nav .nav__logo p {
  font-family: var(--button-font);
  font-size: 14px;
  line-height: 17px;
  margin-left: 25px;
  color: #939aa3;
}

.l__header .nav .nav__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 100px;
}

.l__header .nav .nav__menu .tg__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l__header .nav .nav__menu .tg__contact img {
  margin-top: 20px;
}

.l__header .nav .nav__menu .tg__contact a {
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #036db9;
}

.l__header .nav .nav__menu .phone__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
}

.l__header .nav .nav__menu .phone__contact img {
  margin-top: 20px;
}

.l__header .nav .nav__menu .phone__contact a {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #939aa3;
}

.l__header .nav .nav__menu .phone__contact a span {
  font-family: var(--black-font);
  color: #036db9;
}

/*===== HOME =====*/
.l__main {
  width: 100%;
  height: 600px;
  background-image: url(../img/background-home.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.l__main .home {
  width: 1320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l__main .home .left__side h1 {
  font-family: var(--black-font);
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  color: #ffffff;
}

.l__main .home .left__side .left__inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l__main .home .left__side .left__inside .service__box {
  margin-top: 50px;
}

.l__main .home .left__side .left__inside .service__box p {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 16px;
  color: #ffffff;
}

.l__main .home .left__side .left__inside .service__box p span {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.l__main .home .right__side img {
  margin-right: 120px;
}

/*===== PRODUCTS =====*/
.l__products {
  width: 100%;
  min-height: 1500px;
  background-image: url(../img/bg-pattern.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 70px;
}

.l__products h1 {
  font-family: var(--black-font);
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  color: #036db9;
}

.l__products p {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #939aa3;
}

.l__products .download__button {
  width: 278px;
  height: 70px;
  margin-top: 50px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-gradient(linear, left top, right top, from(#81d100), to(#71b800));
  background: linear-gradient(90deg, #81d100 0%, #71b800 100%);
  -webkit-box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
          box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.l__products .download__button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.l__products .download__button a {
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-left: 16px;
  color: #ffffff;
}

.l__products .products {
  width: 1320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l__products .products .product__box {
  width: 350px;
  height: 350px;
  background: radial-gradient(50% 50% at 50% 50%, #036db9 0%, #036db9 100%);
  border-radius: 12px;
  margin-top: 50px;
  position: relative;
  z-index: 2;
}

.l__products .products .product__box .circle__bg {
  margin-left: 25px;
  position: absolute;
  z-index: -1;
}

.l__products .products .product__box .product__image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.l__products .products .product__box p {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-top: 24px;
  color: #ffffff;
}

.l__products .products .product__box:nth-child(2) .product__image {
  margin-top: 62px;
}

.l__products .products .product__box:nth-child(2) p {
  margin-top: 36px;
}

.l__products .products .product__box:nth-child(3) .product__image {
  margin-top: 70px;
}

.l__products .products .product__box:nth-child(3) p {
  margin-top: 33px;
}

.l__products .products .product__box:nth-child(4) .product__image {
  margin-top: 52px;
}

.l__products .products .product__box:nth-child(4) p {
  margin-top: 26px;
}

.l__products .products .product__box:nth-child(5) .product__image {
  margin-top: 36px;
}

.l__products .products .product__box:nth-child(5) p {
  margin-top: 10px;
}

.l__products .products .product__box:nth-child(6) .product__image {
  margin-top: 50px;
}

.l__products .products .product__box:nth-child(6) p {
  margin-top: 24px;
}

.l__products .products .product__box:nth-child(7) .product__image {
  margin-top: 38px;
}

.l__products .products .product__box:nth-child(7) p {
  margin-top: 12px;
}

.l__products .products .product__box:nth-child(8) .product__image {
  margin-top: 50px;
}

.l__products .products .product__box:nth-child(8) p {
  margin-top: 24px;
}

.l__products .products .product__box:nth-child(9) .product__image {
  margin-top: 70px;
}

.l__products .products .product__box:nth-child(9) p {
  margin-top: 20px;
}

.l__cause {
  width: 100%;
  min-height: 1026px;
  padding-top: 70px;
  background: #f0f2f5;
}

.l__cause h1 {
  font-family: var(--black-font);
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  /* identical to box height */
  text-align: center;
  color: #036db9;
}

.l__cause .cause {
  width: 1320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l__cause .cause .cause__box {
  width: 350px;
  height: 366px;
  margin-top: 50px;
}

.l__cause .cause .cause__box img {
  margin-left: auto;
  margin-right: auto;
}

.l__cause .cause .cause__box h2 {
  font-family: var(--black-font);
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #036db9;
  margin-top: 16px;
  text-transform: uppercase;
}

.l__cause .cause .cause__box p {
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 8px;
  color: #000000;
}

.l__experts {
  width: 100%;
  height: 564px;
  overflow: hidden;
}

.l__experts .experts {
  width: 1320px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* Modal Content */
  /* Add Animation */
}

.l__experts .experts .expert__left h1 {
  font-family: var(--black-font);
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  color: #036db9;
  padding-top: 100px;
}

.l__experts .experts .expert__left .expert__button button {
  width: 382px;
  height: 70px;
  margin-top: 50px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, right top, from(#81d100), to(#71b800));
  background: linear-gradient(90deg, #81d100 0%, #71b800 100%);
  -webkit-box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
          box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-left: 16px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.l__experts .experts .expert__left .expert__button button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.l__experts .experts .expert__left .inex {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.l__experts .experts .expert__left .inex .box__exs {
  margin-right: 30px;
}

.l__experts .experts .expert__left .inex .box__exs p {
  margin-top: 16px;
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.l__experts .experts .expert__right {
  padding-top: 67px;
}

.l__experts .experts .modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.l__experts .experts .modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 50px 90px;
  border: 1px solid #888;
  width: 540px;
  height: 487px;
  background: #ffffff;
  border-radius: 12px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  position: relative;
}

.l__experts .experts .modal-content .close {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  display: block;
  color: var(--second-color);
  font-size: 32px;
  font-weight: bold;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.l__experts .experts .close:hover,
.l__experts .experts .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.l__experts .experts .modal-header {
  width: 100%;
}

.l__experts .experts .modal-header h2 {
  font-family: var(--black-font);
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #036db9;
}

.l__experts .experts .modal-body {
  padding: 2px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  margin-top: 32px;
}

.l__experts .experts .modal-body label {
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.l__experts .experts .modal-body input {
  width: 350px;
  height: 60px;
  padding: 24px 19px;
  border: 1px solid #c1cad6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 24px;
}

.l__experts .experts .modal-body input::-webkit-input-placeholder {
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #939aa3;
}

.l__experts .experts .modal-body input:-ms-input-placeholder {
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #939aa3;
}

.l__experts .experts .modal-body input::-ms-input-placeholder {
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #939aa3;
}

.l__experts .experts .modal-body input::placeholder {
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #939aa3;
}

.l__experts .experts .modal-body button {
  width: 350px;
  height: 70px;
  border: none;
  background: -webkit-gradient(linear, left top, right top, from(#81d100), to(#71b800));
  background: linear-gradient(90deg, #81d100 0%, #71b800 100%);
  -webkit-box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
          box-shadow: 0px 10px 15px rgba(129, 209, 0, 0.3);
  border-radius: 35px;
  cursor: pointer;
  font-family: Product Sans Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}

.l__install {
  width: 100%;
  height: 594px;
}

.l__install .install {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l__install .install .install__left {
  width: 945px;
  height: 100%;
  background-image: url(../img/install/proektirovanie-osvesheniya_03.png);
}

.l__install .install .install__rigth {
  width: 977px;
  height: 100%;
  background: #036db9;
  background-image: url(../img/install/MaskGroup.png);
  padding-left: 30px;
  position: relative;
}

.l__install .install .install__rigth h2 {
  font-family: var(--black-font);
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 50px;
  color: #ffffff;
  margin-top: 162px;
}

.l__install .install .install__rigth ul {
  margin-top: 32px;
}

.l__install .install .install__rigth ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 16px;
}

.l__install .install .install__rigth ul li img {
  margin-right: 12px;
}

.l__install .install .install__rigth .drill {
  position: absolute;
  right: 0;
  top: 116px;
}

.l__install .install .install__rigth .bolt__1 {
  position: absolute;
  left: 362px;
  top: 24px;
}

.l__install .install .install__rigth .plier {
  position: absolute;
  left: 454px;
  top: -59px;
}

.l__install .install .install__rigth .bolt__2 {
  position: absolute;
  right: 90px;
  top: 24px;
}

.l__install .install .install__rigth .bolt__3 {
  position: absolute;
  left: 578px;
  top: 304px;
}

.l__install .install .install__rigth .bolt__4 {
  position: absolute;
  bottom: 52px;
  right: 290px;
}

.l__install .install .install__rigth .screwdriver {
  position: absolute;
  left: 220px;
}

.l__portfolio {
  width: 100%;
  height: 540px;
  padding-top: 70px;
}

.l__portfolio .portfolio {
  width: 1720px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 2;
}

.l__portfolio .portfolio .pos__box {
  width: 33%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l__portfolio .portfolio .pos__box .box__one {
  width: 50%;
  height: 100%;
}

.l__portfolio .portfolio .pos__box .box__two {
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  padding-left: 10px;
}

.l__portfolio .portfolio .pos__box .box__two h1 {
  font-family: Product Sans Black;
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  margin-top: 100px;
  color: #036db9;
}

.l__portfolio .portfolio .pos__box__two {
  width: 17%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7);
  right: 0;
  z-index: 3;
}

.l__portfolio .portfolio .owl-carousel .item {
  width: 255px;
  height: 400px;
  background: #c4c4c4;
  border-radius: 12px;
  background-image: url(../img/portfolio/port-1.png);
}

.l__portfolio .portfolio .owl-carousel .item__two {
  background-image: url(../img/portfolio/port-2.png);
}

.l__portfolio .portfolio .owl-carousel .item__three {
  background-image: url(../img/portfolio/port-3.png);
}

.l__portfolio .portfolio .owl-carousel .item__four {
  background-image: url(../img/portfolio/port-4.png);
}

.l__portfolio .portfolio .owl-carousel .item__five {
  background-image: url(../img/portfolio/port-5.png);
}

.l__portfolio .portfolio .owl-carousel .item__six {
  background-image: url(../img/portfolio/port-1.png);
}

.l__portfolio .portfolio .owl-nav {
  position: absolute;
  z-index: 10;
  top: 85%;
  left: 18%;
  display: none;
}

.l__portfolio .portfolio .owl-nav .owl-prev {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid;
}

.l__portfolio .portfolio .owl-nav .owl-next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid;
}

.l__portfolio .portfolio .owl-dots {
  display: none !important;
}

.l__testimonials {
  width: 100%;
  height: 536px;
  padding-top: 70px;
  background: #f0f2f5;
}

.l__testimonials h1 {
  font-family: Product Sans Black;
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  color: #036db9;
  margin-bottom: 50px;
}

.l__testimonials .testimonials {
  width: 1320px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l__testimonials .testimonials .testimon__box {
  width: 350px;
  min-height: 220px;
}

.l__testimonials .testimonials .testimon__box p {
  font-family: Product Sans Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  margin-top: 35px;
  color: #000000;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.l__testimonials .testimonials .testimon__box p span {
  font-weight: bold;
  font-size: 22px;
  margin-top: 5px;
}

.l__testimonials .testimonials .testimon__box .msg__box:hover ~ p {
  color: #036db9;
}

.l__testimonials .testimonials .testimon__box .msg__box {
  position: relative;
  width: 350px;
  height: 211px;
  background: #ffffff;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  z-index: 3;
}

.l__testimonials .testimonials .testimon__box .msg__box img {
  border-radius: 4px;
}

.l__testimonials .testimonials .testimon__box .msg__box .image__box {
  width: 318px;
  height: 179px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
  cursor: pointer;
}

.l__testimonials .testimonials .testimon__box .msg__box .image__box .play__button {
  width: 60px;
  height: 60px;
  background: -webkit-gradient(linear, left top, right top, from(#81d100), to(#71b800));
  background: linear-gradient(90deg, #81d100 0%, #71b800 100%);
  border-radius: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.l__testimonials .testimonials .testimon__box .msg__box .image__box .play__button img {
  margin-left: 5px;
}

.l__testimonials .testimonials .testimon__box .msg__box:hover {
  background: #81d100;
}

.l__testimonials .testimonials .testimon__box .msg__box:hover .triangle__box {
  background: #81d100;
}

.l__testimonials .testimonials .testimon__box .msg__box:hover .image__box {
  display: block;
}

.l__testimonials .testimonials .testimon__box .msg__box .triangle__box {
  width: 24px;
  height: 24px;
  background: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  z-index: -1;
  bottom: -12px;
  left: 36px;
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.l__partners {
  width: 100%;
  height: 365px;
  padding-top: 70px;
}

.l__partners h1 {
  font-family: var(--black-font);
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  text-align: center;
  color: #036db9;
}

.l__partners .partners {
  width: 1320px;
  height: 100%;
  padding-top: 50px;
  margin: auto;
  position: relative;
}

.l__partners .partners .owl-two {
  padding-left: 45px;
}

.l__partners .partners .owl-two .item {
  width: 255px;
  height: 120px;
  background: #f0f2f5;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l__partners .partners .owl-two .item img {
  width: 161.79px;
  height: 46px;
}

.l__partners .partners .owl-two .partners__two img {
  width: 109.96px !important;
  height: 70px !important;
}

.l__partners .partners .owl-two .partners__three img {
  width: 147.27px;
  height: 36px;
}

.l__partners .partners .owl-two .partners__four img {
  width: 166.46px;
  height: 52px;
}

.l__partners .partners .owl-two .partners__five img {
  width: 110.49px !important;
  height: 60px !important;
}

.l__partners .partners .owl-two .partners__six img {
  width: 107.74px !important;
  height: 60px !important;
}

.l__partners .partners .owl-two .partners__seven img {
  width: 98.21px;
  height: 70px;
}

.l__partners .partners .owl-two .partners__eight img {
  width: 160px;
  height: 37.6px;
}

.l__partners .partners .owl-two .owl-nav .owl-prev {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #c0cad6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  left: -35px;
  top: 27px;
}

.l__partners .partners .owl-two .owl-nav .owl-next {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #c0cad6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  right: -30px;
  top: 27px;
}

.l__partners .partners .owl-two .owl-nav button:hover {
  background: -webkit-gradient(linear, left top, right top, from(#81d100), to(#71b800));
  background: linear-gradient(90deg, #81d100 0%, #71b800 100%);
  border-color: #71b800;
}

.l__partners .partners .owl-two .owl-dots {
  display: none;
}

.l__map {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l__map .left__map {
  width: 50%;
  height: 100%;
}

.l__map .right__map {
  width: 50%;
  height: 100%;
  background: #036db9;
  background-image: url(../img/Vector.png);
  padding-left: 30px;
  padding-top: 150px;
}

.l__map .right__map ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 50px;
}

.l__map .right__map ul li div {
  margin-left: 16px;
}

.l__map .right__map ul li div p {
  font-family: Product Sans Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #81d100;
}

.l__map .right__map ul li div .bottom__p {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 5px;
}

.l__map .right__map ul li div a {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 5px;
  display: block;
}

.l__map .right__map ul li .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1px;
  margin-top: 5px;
}

.l__map .right__map ul li .social img {
  margin-right: 12px;
}

.l__faq {
  width: 100%;
  height: 540px;
  padding-top: 70px;
}

.l__faq h1 {
  font-family: var(--black-font);
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 55px;
  /* identical to box height */
  text-align: center;
  color: #036db9;
}

.l__faq .faq {
  width: 1320px;
  height: 100%;
  margin: auto;
  margin-top: 50px;
}

.l__faq .faq .collapsible {
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  background-color: #fff;
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.l__faq .faq .collapsible:after {
  content: "\002B";
  color: #81d100;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.l__faq .faq .active:after {
  content: "\2212";
}

.l__faq .faq .content {
  padding: 0 18px;
  margin-bottom: 20px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
  border-bottom: 1px solid #d7e2f0;
}

.l__faq .faq .content p {
  font-family: var(--button-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.l__footer {
  width: 100%;
  height: 108px;
  background: #141d29;
}

.l__footer .footer {
  width: 1320px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l__footer .footer .footer__box {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.l__footer .footer .footer__box p {
  font-family: var(--normal-font);
  font-style: normal;
  margin-right: 12px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.l__footer .footer .footer__box .phone__num {
  font-family: var(--normal-font);
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  margin-left: 12px;
  color: #939aa3;
}

.l__footer .footer .footer__box .phone__num span {
  font-family: var(--button-font);
  color: #fff;
}

.l__footer .footer .social__box img {
  margin-right: 12px;
}
/*# sourceMappingURL=main.css.map */